body {
  background-color: #EEF0E5;
}
h3 {
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
}
p {
  font-family: 'Gilda Display', serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #F5EEE6;;
}

@media only screen and (max-width: 900px) {
  .header {
    flex-wrap: wrap; 
  }
  h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: flex-start; 
  }
  p {
    font-size: 12px;
  }
}